In [2]:
import pandas as pd

# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for high_school in high_schools:
    print(high_school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
school_series = pd.Series(high_schools)
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
import pandas as pd

# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

high_school_df = pd.DataFrame(high_school_dicts)
print(high_school_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [7]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [11]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
hs_df = pd.DataFrame(high_schools_dict)
print(hs_df)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [25]:
school_id = [0, 1, 2, 3, 4, 5]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School", "Noname School"]

type_of_school = ["District", "District", "Charter", "District","Charter", "Charter"]

school_dict = {"ID" : school_id, "Name" : school_name, "Type" : type_of_school}

school_pd = pd.DataFrame(school_dict)
print(school_pd)

   ID                   Name      Type
0   0      Huang High School  District
1   1   Figueroa High School  District
2   2    Shelton High School   Charter
3   3  Hernandez High School  District
4   4    Griffin High School   Charter
5   5          Noname School   Charter

In [ ]:
# A high-level snapshot of the district's key metrics, presented in a table format
# An overview of the key metrics for each school, presented in a table format

# Tables presenting each of the following metrics:
    # Top 5 and bottom 5 performing schools, based on the overall passing rate
    # The average math score received by students in each grade level at each school
    # The average reading score received by students in each grade level at each school
    # School performance based on the budget per student
    # School performance based on the school size 
    # School performance based on the type of school